{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>Platzi Awards</title>
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
{% endblock %}

{% block container %}
    <div class="main-box">
        <header>
            <h1>Premios Platzi App</h1>
        </header>

        <main>
            {% if latest_question_list %}
                <ul>
                    {% for question in latest_question_list %}
                        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </main>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <a href="http://platzi.com">Platzi</a>
        <a href="#">Términos y condiciones</a>
    </footer>
{% endblock %}
